@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Jost:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-script: "Alex Brush", cursive;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Jost", sans-serif;
  
  --color-emerald-deep: #022c22;
  --color-emerald-mid: #064e3b;
  --color-gold-main: #D4AF37;
  --color-gold-light: #FDE08B;
  --color-gold-dark: #b49020;
  --color-ivory: #FDFBF7;
  --color-blush: #fce7f3;
  --color-lotus: #db2777;
}

body {
  background-color: var(--color-emerald-deep);
  color: var(--color-ivory);
}
